body{
    overflow-x: hidden;    
}
#div1{
    background-image: url("../assets/image1.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-position: center center;
    height: 100%;
    position: relative;
    opacity: 0.7;   
}
#head1{
    background-color: black;
    color: #666;
    width: 500px;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    letter-spacing: 8px;
    padding: 10px;
    position: relative;
    top: 280px;
    left: 400px;
}
  #div2{
    border: white;
    height: 400px;
    background-color: #f4f4f4;
    position: relative;
    top: 600px;
}  
#head2{
      
      font-weight:bold ;
      color: black;
      font-size: 30px;
      display: flex;
      justify-content: center;
      position: relative;
      top: 30px;
      font-weight: bold;
} 
#para1{
    color: #666;
    text-align: center;
    font-size: 20px;
    padding: 30px;
    font-family: "Lato", sans-serif;
    line-height: 30px;
    position: relative;
    bottom: 20px;
    } 

#div3{
    height: 450px;
    width: 100%;
    background-image: url("../assets/image2.jpg");
    background-repeat: no-repeat;
    position: absolute;
    top: 300px;
    background-attachment: scroll;
    background-size: 100%;
}

#head3{
    color:white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    position: relative;
    top: 190px;
    font-weight: bold;
 
}

 #div4{
    border: white;
    height: 150px;
    background-color: #f4f4f4;
    position: relative;
    top: 900px;
    
}
#head4{

      font-weight:bold ;
      color: black;
      font-size: 30px;
      display: flex;
      justify-content: center;
      position: relative;
      top: 30px;
      font-weight: bold;
}
 #para2{
    color: #666;
    text-align: center;
    font-size: 20px;
    padding: 50px;
    font-family: "Lato", sans-serif;
    line-height: 30px;
    position: relative;
    bottom: 30px;
    } 

#div5{
    height: 490px;
    width: 100%;
    background-image: url("../assets/image3.jpg");
    background-repeat: no-repeat;
    position: absolute;
    top: 300px;
    
    background-attachment: scroll;
    background-size: 100%;

} 
#head5{
    color: white;
    font-size: 30px;
          display: flex;
          justify-content: center;
          position: relative;
          top: 240px;
          font-weight: bold;
}  

#div6{
    border: white;
    height: 350px;
    background-color: #f4f4f4;
    position: relative;
    top: 650px;
}
#head6{
      
      font-weight:bold ;
      color: black;
font-size: 30px;
      display: flex;
      justify-content: center;
      position: relative;
      top: 30px;
      font-weight: bold;
}
#para3{
    color: #666;
    text-align: center;
    font-size: 20px;
    padding: 50px;
    font-family: "Lato", sans-serif;
    line-height: 30px;
    position: relative;
    bottom: 30px;
    }

#div7{
    background-image: url("../assets/image1.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-position: center center;
    height: 650px;
    position: relative;
    opacity: 0.7;   
    position: relative;
    top: 500px;

}  
#head7{ 
    background-color: black;
    color: #666;
    width: 500px;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    letter-spacing: 8px;
    padding: 20px;
    position: relative;
    top: 150px;
    left: 400px;
    } 
